<div class="navbar-header">
	<!-- Mobile menu botton -->
	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		<span class="sr-only">Toggle navigation</span>
		<span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
	</button>

	<!-- Logo -->
	<a class="navbar-brand dashboard-link" href="/dashboard/{{slug}}">
		codeland.us
	</a>
</div>

<div id="navbar" class="navbar-collapse collapse">

	<ul id="spa-navbar" class="nav navbar-nav navbar-right">

        <li class="group-staff">
            <a href="/my-admin/" class="ajax-link admin-link">Course Editor</a>
        </li>

        <li id="reportsLink" class="group-staff">
            <a href="/reports/">Reports</a>
        </li>
		
		</li>
	</ul>
</div>
