<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>


    <script src="/socket.io/socket.io.js"></script>
		<script>
		  var socket = io('http://localhost:3000');

		  function send(name, data){}
		  socket.on('news', function (data) {
		    console.log('data', data);
		  });
		</script>
  </body>
</html>
